config setup
conn %default
	ike=aes128gcm16-prfsha256-ecp256
	esp=aes128gcm16-ecp256
	keyexchange=ikev2
	auto=add
	rekey=no
	reauth=no
	fragmentation=yes
	leftsubnet=0.0.0.0/0
	leftcert=cert.pem
	# ask the client for user credentials
	eap_identity=%identity
	# what dns server to define for clients
	rightdns=8.8.8.8
	rightauth=eap-mschapv2
# ike2-mschapv2 clients
conn ikev2-mschapv2-dns
	rightsourceip=10.0.1.0/24
	leftid={{ domain_name }}
